<StackLayout padding="70">
  <DockLayout
    class="fab-container"
    (tap)="onFabTap()"
    horizontalAlignment="left"
  >
    <Label
      class="fab-icon"
      text="+"
      iconSource="res://ic_frame_2"
      color="white"
    ></Label>
  </DockLayout>
  <DockLayout
    class="fab-container"
    (tap)="onFabTap()"
    horizontalAlignment="center"
  >
    <Label
      class="fab-icon"
      text="+"
      iconSource="res://ic_frame_2"
      color="white"
    ></Label>
  </DockLayout>
  <DockLayout
    class="fab-container"
    (tap)="onFabTap()"
    horizontalAlignment="right"
  >
    <Label
      class="fab-icon"
      text="+"
      iconSource="res://ic_frame_2"
      color="white"
    ></Label>
  </DockLayout>
</StackLayout>
