<TabView androidTabsPosition="bottom" class="tabView" class="ActionBar">
    <GridLayout *tabItem="{ title: '', iconSource: 'res://ic_group_3'}">
      <page-router-outlet name="homeTab"></page-router-outlet>
    </GridLayout>

  <GridLayout *tabItem="{ title: '', iconSource: 'res://ic_frame_2'}">
    <page-router-outlet name="browseTab"></page-router-outlet>
  </GridLayout>

  <GridLayout *tabItem="{ title: '', iconSource: 'res://ic_group_69_1'}">
    <page-router-outlet name="searchTab"></page-router-outlet>
  </GridLayout>
</TabView>