<div class="socorroTab"> Hello SocorroTabComponent! </div>

<GridLayout columns="50, auto, *" rows="50, auto, *" width="210" height="210" backgroundColor="lightgray" >
    <Label class="button-custom" text="Label 1" row="0" col="0" backgroundColor="red"></Label>
    <Label text="socorroTab 2" row="0" col="1" colSpan="2" backgroundColor="yellow"></Label>
    <Label text="socorroTab 3" row="1" col="0" rowSpan="2" backgroundColor="blue"></Label>
    <Label text="socorroTab 4" row="1" col="1" backgroundColor="pink"></Label>
    <Label text="socorroTab 5" row="1" col="2" backgroundColor="orange"></Label>
  </GridLayout>