<StackLayout padding="70">
  <Button
    id="addButton1"
    class="float-button button1"
    (tap)="ButtonClick1()"
    horizontalAlignment="right"
    backgroundImage="res://ic_5"
  >
  </Button>
  <Button
    id="addButton2"
    class="float-button button2"
    (tap)="ButtonClick2()"
    horizontalAlignment="center"
    backgroundImage="res://ic_5"
  ></Button>
  <Button
    id="addButton3"
    class="float-button button3"
    (tap)="ButtonClick3()"
    horizontalAlignment="center"
    backgroundImage="res://ic_5"
  ></Button>
  <Button
    id="addButton4"
    class="float-button button4"
    (tap)="ButtonClick4()"
    horizontalAlignment="right"
    backgroundImage="res://ic_5"
  ></Button>
</StackLayout>
