<ActionBar class="ActionBar">
  <GridLayout columns="*, *" height="100%">
    <GridLayout (tap)="buttonTapMun()" col="0" class="buttonSelected">
      <Button
        col="0"
        id="menuBtn1"
        text="Municipios"
        horizontalAlignment="center"
        class="buttonSelected"
      ></Button>
    </GridLayout>
    <GridLayout (tap)="buttonTapCat()"  col="1"  class="buttonSelected">
      <Button
        col="1"
        id="menuBtn2"
        text="Categorias"
        horizontalAlignment="center"
        class="buttonSelected"
      ></Button>
    </GridLayout>
  </GridLayout>
</ActionBar>
<DockLayout class="mainArea" backgroundImage="res://ic_vector_map">
  <router-outlet ></router-outlet>
</DockLayout>